.feed-item{
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-weight: 100;
    font-size: 15px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.feed-list {
    overflow-y: auto;
    background-color: white;
    margin: auto;
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
}

.feed-submit{
    /* FIXME: Add center code here. */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
